<h1>{{hero.name}}</h1>
<h2>{{hero.alias}}</h2>

<table>
	<tr>
		<td>
			Type
		</td>
		<td>
			{{hero.type}}
		</td>
	</tr>
	<tr>
		<td>
			Attack Type
		</td>
		<td>
			{{hero.attack_type}}
		</td>
	</tr>
	<tr>
		<td>
			Strength
		</td>
		<td>
			{{hero.strength}}
		</td>
	</tr>
	<tr>
		<td>
			Agility
		</td>
		<td>
			{{hero.agility}}
		</td>
	</tr>
	<tr>
		<td>
			Intelligence
		</td>
		<td>
			{{hero.intelligence}}
		</td>
	</tr>
	<tr>
		<td>
			Health
		</td>
		<td>
			{{hero.health}}
		</td>
	</tr>
	<tr>
		<td>
			Mana
		</td>
		<td>
			{{hero.mana}}
		</td>
	</tr>
	<tr>
		<td>
			Damage
		</td>
		<td>
			{{hero.damage_min}} - {{hero.damage_max}}
		</td>
	</tr>
	<tr>
		<td>
			Range
		</td>
		<td>
			{{hero.range}}
		</td>
	</tr>
	<tr>
		<td>
			Armor
		</td>
		<td>
			{{hero.armor}}
		</td>
	</tr>
	<tr>
		<td>
			Movement
		</td>
		<td>
			{{hero.movement}}
		</td>
	</tr>
</table>

<img ng-src="{{hero.image}}" alt="">

<p>{{hero.description}}</p>
